body {
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-color: darkred;
    color: white;
}

#title {
    background-color: #1a1a1a;
    padding: 1px;
}

#mainContainer {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

#pagesContainer {
    border: solid 2px black;
    border-radius: 25px;
    width: 12%;
    text-align: left;
    padding: 15px;
}

#contentContainer {
    width: 80%;
    text-align: justify;
    border: solid 2px black;
    border-radius: 25px;
    padding: 10px;
    text-indent: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.page:hover {
    background-color: #b30000;
}

.page {
    border: solid 2px black ;
    border-radius: 20px;
    padding-left: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
}